h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  opacity: 0.7;
}
.navigation-links {
  text-align: center;
  margin: 40px;
}
.contact-link {
  text-decoration: none;
  background-color: #6c63ff;
  margin: 0 20px;
  padding: 20px 15px;
  border-radius: 4px;
  border: #6c63ff solid 1px;
  color: white;
}

.contact-link:hover {
  color: white;
}
.about-link {
  text-decoration: none;
  margin: 0 20px;
  padding: 20px 15px;
  border-radius: 4px;
  border: #6c63ff solid 1px;
  color: #6c63ff;
  background-color: white;
}
.secondary-link {
  background-color: #6c63ff;
  padding: 20px 15px;
  border-radius: 4px;
  border: #6c63ff solid 1px;
  color: white;
}
#email-link {
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  display: block;
}
#email-link:hover {
  text-decoration: underline;
}
img {
  border-radius: 2px;
  width: 100%;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
